<h1><%= @department.name %> - <%= @item.name %></h1>
<p><%= @item.body %></p>
<%= link_to 'Edit item', edit_department_item_path([@department, @item]) %>
<%= link_to 'Delete item', [@department, @item], method: :delete %>
<%= link_to 'Back To items', department_items_path(@department) %>